:root
{
    font-size: 25px;
}

html,
body
{
    padding: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
}

@media(max-width:1399.98px)
{
    .my-layout{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #021f9f;
    }
    
    .my-navbar{
        display: block;
        padding: 0 10vw;
        position: relative;
        align-items: center;
        height: 119px;
        background: linear-gradient(to bottom right,#f8492f ,#fe6233 );
    }
    
    .nav-header{
        padding: 5px 10px;
        display: flex;
        height: 28%;
    }
    
    .search-bar-group{
        display: flex;
        height: 72%;
    }
    
    .nav-opt{
        display: flex;
    }
    
    .saler{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    
    
    .sale-option
    {
        color: rgb(255, 255, 255);
        padding: 0 5px;
        font-size: 1.6vmin;
    }
    
    .sale-option:hover{
        color: #ffc6bb;
    }
    
    .sale-mid
    {
        border-left: 2px solid #fb7160;
        border-right: 2px solid #fb7160;
        padding: 0 7px;
    
    }
    
    .social-icons{
        display: flex;
        align-items: center;
        color: white;
    }
    
    .social-icon{
        padding: 0 2px;
        cursor: pointer;
    }
    
    
    .right-group
    {
        font-size: 1.6vmin;
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    
    .nav-note
    {
        color: #ffffff;
        display: flex;
        align-items: center;
    }
    
    .note-help
    {
        display: flex;
        align-items: center;
        margin: 0 5px;
        cursor: pointer;
    }
    
    .note-help:hover
    {
        color: #ffc6bb;
    }
    
    .note-icon
    {
        margin: 0 5px;
    }
    
    .nav-lang
    {
        margin: 0 10px;
        color: white;
        cursor: pointer;
    }
    
    .down-icon,
    .lang-icon
    {
        margin: 0 5px;
    }
    
    .nav-lang:hover
    {
        color: #ffc6bb;
    }
    
    
    .cred
    {
        padding: 0 10px;
        color: white;
        border-right: 2px solid #fb7160;
    }
    
    .cred:hover
    {
        color: #ffc6bb;
    }
    
    .login
    {
        border-right: none;
        cursor: pointer;
    }
    
    .login:hover
    {
        color: #ffc6bb;
    }
    
    .search-bar-group
    {
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .serach-item
    {
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 15px;
    }
        
    
    .logo
    {
        flex:1.3;
        margin-right:30px;
        background-image: url('./imags/ShopPee-logo.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    
    .cart
    {
        flex: 1.5;
        color: #ffffff;
        font-size: 3vmin;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .search
    {
        flex: 7.2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .input
    {
        width: 100%;
        height: 36px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border: 1pxpx solid #f8f9fa;
        border-radius: 3px;
        margin-top: 20px; 
    }

    .btn-glass
    {
        width: 10%;
        height: 90%;
        background-color: #fb5533;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        border-radius: 3px;
        cursor: pointer;
    }
    
    .btn-glass:hover
    {
        background-color: #fb6749;
    }
    
    
    .input-text
    {
        padding: 10px;
        color: #818181;
    }
    
    .search>.input-group>input
    {
        border: none;
        padding: 5px 10px;
        outline: none;
        border-radius: 5px;
        width: 100%;
        font-size: 2.3vmin;
    }
    
    .shortcut-group
    {
        display: flex;
        align-items: center;
        margin-right: auto;
        cursor: pointer;
    }
    
    .tap
    {
        color: white;
        font-size: 1.8vmin;
        margin: 2px 6px;
    }
    
    .test
    {
        position: relative;
        width: 300px;
        background-color: red;
    }
    
    .dummy
    {
        width: 100%;
        padding-top: 133%;
    }
    
    .test>img
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .nav-mobile
    {
        display: none;
        width: 100%;
        height: 10%;
    }

    .pc-scroll{
        position:absolute;
        padding: 0 5vw;
        left: 0;
        width:100%;
        height: 50vmin;
        background-color:#2dedc0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .scroll{
        display: none;
    }

    .sale{
        display: none;
    }

    .pc-banners{
        width: 100%;
        height: 30vmin;
        display: flex;
        align-items: center;
        margin: 20px 0;
        
    }

    .pc-l-banners{
        width: 70%;
        height: 30vmin;
        align-items: center;
        background-image: url(https://cf.shopee.tw/file/2b45b9cf9b184cd1d9bf95f1e2adc7e0_xxhdpi);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .pc-r-banners{
        width: 30%;
        height: 30vmin;
        flex-direction: column;
        background-color:transparent;
        justify-content: center;
        padding-left: 5px;
    }
    .box-up{
        height:15vmin;
        background-image: url(https://cf.shopee.tw/file/696d0a092d64c230a4710b24a13a1e93_xhdpi);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .box-down{
        height: 15vmin;
        background-image: url(https://cf.shopee.tw/file/5df2dd6d10d85813f92c7e70c70ed925_xhdpi);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .pc-short-links{
        width: 100%;
        height: 12vmin;
        margin: 0 10px;
        background-color: #730c0c;
        display: flex;
        flex: 10;
        flex-direction: row;    
    }

    .pc-sale-items{
        display: flex;
        flex:1;
        flex-direction: column;
        height: 100%;
        align-items: center;      
        margin: 0 5px;
        background-color: rgb(255, 255, 255);
    }

   .pc-sale-block{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .pc-shipping-icon{
    background-image: url(https://cf.shopee.tw/file/ce50fa24d20a4ede15b274ef9edbb1c9_xhdpi);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 6vmin;
    margin: 10px 0 5px 0;
   }

   .pc-shipping-icon::after
   {    
        content:'';
        display:block;
        padding-bottom: 100%;
   }

   .pc-supermarket-icon{
    background-image: url(https://cf.shopee.tw/file/1990775389f894698439986a90c4b528_xhdpi);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 6vmin;
    margin: 10px 0 5px 0;
   }

   .pc-supermarket-icon::after
   {    
        content:'';
        display:block;
        padding-bottom:100%;
   }

   .pc-10off-icon{
    background-image: url(https://cf.shopee.tw/file/be06974ac1b4befd67b085ef8fbf6621_xhdpi);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 6vmin;
    margin: 10px 0 5px 0;
   }

   .pc-10off-icon::after
   {    
        content:'';
        display:block;
        padding-bottom:100%;
   }

   .pc-3cec-icon{
    background-image: url(https://cf.shopee.tw/file/b6909542863ab1a007e8500bc068a314_xhdpi);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 6vmin;
    margin: 10px 0 5px 0;
   }

   .pc-3cec-icon::after
   {    
        content:'';
        display:block;
        padding-bottom:100%;
   }

   .pc-shop-icon{
    background-image: url(https://cf.shopee.tw/file/d2ee82271d7691089274a15f1abf9683_xhdpi);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 6vmin;
    margin: 10px 0 5px 0;
   }

   .pc-shop-icon::after
   {    
        content:'';
        display:block;
        padding-bottom:100%;
   }

   .pc-freeshipping3-icon{
    background-image: url(https://cf.shopee.tw/file/5a3d2832faa69c48b0dfe0be914f0f22_xhdpi);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 6vmin;
    margin: 10px 0 5px 0;
   }

   .pc-freeshipping3-icon::after
   {    
        content:'';
        display:block;
        padding-bottom:100%;
   }

   .pc-51discoun-icon{
    background-image: url(https://cf.shopee.tw/file/d79c31cb724981c53db32524ae45e9a6_xhdpi);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 6vmin;
    margin: 10px 0 5px 0;
   }

   .pc-51discoun-icon::after
   {
    content: '';
    display: block;
    padding-bottom: 100%;
   }

   .pc-10double-icon{
    background-image: url(https://cf.shopee.tw/file/ffbe96ac4baeb51043274d05a96dff9b_xhdpi);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 6vmin;
    margin: 10px 0 5px 0;
   }

   .pc-10double-icon::after{
    content: '';
    display: block;
    padding-bottom: 100%;
   }

   .pc-cheapest-icon{
    background-image: url(https://cf.shopee.tw/file/7627dd07e42f84ba9bfeb5d28becbcca_xhdpi);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 6vmin;
    margin: 10px 0 5px 0;
   }

   .pc-cheapest-icon::after{
    content: '';
    display: block;
    padding-bottom: 100%;
   }

   .pc-combine-icon{
    background-image: url(https://cf.shopee.tw/file/1ce9f21065d71b41ea1f760e32247859_xhdpi);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 6vmin;
    margin: 10px 0 5px 0;
   }

   .pc-combine-icon::after{
    content: '';
    display: block;
    padding-bottom: 100%;
   }

   .pc-sale-text{
        color:#808080;
        font-size: 1.2vmin;
        padding: 8px 0;
   }

   .pc-content{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 51vmin 0 0 0;
    padding: 0 30px;
    flex-direction: column;
    background-color: #c1c1c1;
   }

   .pc-sale-img-box{
    width: 100%;
    height: 30vmin;
    position: relative;
    
   }

   .pc-sale-img{
    background-image: url(https://cf.shopee.tw/file/ec13e2e84b62a698d6c5a611742e5078);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   }

   .pc-sale-img::after{
    content: '';
    display: block;
    padding-bottom: 10vmin;
   }

   .pc-topsale-groups{
    width: 100%;
    height: 30vmin;
    background-color: #c3ff53;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 5px 0;

   }

   .pc-topsale-head{
    background-image: url(https://cf.shopee.tw/file/d690b6e4658a29f03420b090959f01f8);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

   }

    .pc-topsale-head::after{
     content: '';
     display: block;
     padding-bottom: 15%;
    }

    .pc-topsale-content{
     width: 100%;
     height: 100%;   
     background-color: #ce151e;
     padding-top: 0;
     display: flex;
     flex-direction: column;
     flex: 5;
    }   

    .pc-topsale-tops
    {
     width: 97%;
     flex: 1;
     background-color: #888888;
     margin: 0 10px;
     align-items: center;
    
    }


    
 


}

/*
    height:width
    aspect-ratio: r1/r2;
*/

@media(max-width: 576px)
{
    :root
    {
        font-size: 15px;
    }

    .my-navbar{
        display: none;
    }

    .pc-content{
        display: none;
    }

    .my-content
    {
        display: none;
    }

    .nav-mobile
    {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        height: 25%;
        margin-top: 15px;
    }

    .nm-item
    {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
    }

    .nm-item>i
    {
        font-size: 1.6rem;
    }

    .mobile-search
    {
        flex: 8;
        height: 100%;
    }

    .mobile-search>input
    {
        width: 90%;
        height: 85%;
        border-radius: 5px;
        outline: none;
        border: none;
    }

    .mobile-cart
    {
        flex: 1;
        height: 100%;
    }

    .mobile-my
    {
        flex:1;
        height: 100%;
    }
    
    .carousel
    {
        margin-top: 0;
        display: flex;
        width: 100%;
        height: 24.6vh;
        background-image: url('https://cf.shopee.tw/file/b90639c965ee98cd8896ae94eda347d3');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .nav-content
    {
        flex: 1;
        overflow-x: hidden;
    }

    .scroll
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 40%;
        overflow-x: scroll;
        background-color: #2dedc0;
    }

    .up-bar
    {
        display: flex;
        align-items: center;
        flex: 1;  
        max-width: 100%;
    }

    .down-bar
    {
        display: flex;
        align-items: center;
        flex:1;
        max-width: 100%;
    }

    .sc-item
    {
       display: flex;
       flex-direction: column;
       align-items:center;
       width: 25vw;
       height: 90%;
       margin: 0 6px;
    }

    .sc-icon-block
    {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
    }

    .sc-icon
    {
        background-image: url('https://cf.shopee.tw/file/ce50fa24d20a4ede15b274ef9edbb1c9_xhdpi');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
    }

    .sc-icon::after
    {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
    
    .sc-text
    {
        color: #ffffff;
    }

    .sale
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 32vh;
        margin: 20px 0;
        background-color: #ffffff;
    }

    .sa-head{
        display: flex;
        width: 100%;
        height: 20%;
        background-color: #ffffff;
        align-items: center;
    }

    .sa-prods
    {
        display: flex;
        align-items: center;
        width: 100%;
        height: 80%;
        overflow-x: scroll;
        overflow-y: hidden;
        max-width: 100vw;
        justify-content: center;

    }

    .sa-top{
        background-image: url("https://deo.shopeemobile.com/shopee/shopee-mobilemall-live-sg/flashsale/f8cb6e551cddd82258a98044935f8907.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        width: 20%;
        margin: 0 15px;
    }
    
    .sa-more{
        color: #ababab;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 10px;
    }

    .sa-text
    {
        margin-right: 5px;
        font-size: 4vmin;
    }

    .sa-prod{
        display: flex;
        flex-direction: column;
        width: 25vw;
        height: 100%;
        margin: 10px;
        position: relative;
        flex-shrink: 0;
    }

    .sa-prod-img{
        background-image: url("https://cf.shopee.tw/file/64eb539e438c86f690e1cc0e5c0f09a6_tn");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
    }
    
    .sa-prod-thing{
        background-image: url('https://cf.shopee.tw/file/3da5baffaa6ca3a9d5f6f0b2cc6be0f0_tn');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
    
    }

    .sa-prod-thing::after{
        content:'';
        display: block;
        padding-bottom: 100%;
    }

    .sa-prod-text{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30%;

    }


    .sa-price{
        
        font-size: 4vmin;
        font-weight:bold;
        color: #ee3018;
    }

    .banner
    {
        position: absolute;
        right: 0;
        top: 0;
        width: 25%;
        height: 25%;
        background-color: #fcd511;
    }
    .banner::after
    {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 17px 10px 17px;
        border-color: transparent transparent white transparent;
        position: absolute;
        bottom: 0;
    }

    .bn-text
    {
        width: 100%;
        height: calc(100% - 13px);
        display: flex;
        flex-direction: column;
        align-items: center;   
    }
    .bn-num
    {
        height: 50%;
        font-size: 2vmin;
        color:#f8492f
    }

    .bn-sub-txt
    {
        height: 50%;
        font-size: 2.5vmin;
        color: #ffffff;
    }

}


